<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!-- CoreUI CSS -->
		<link
			rel="stylesheet"
			href="https://unpkg.com/@coreui/coreui@3.0/dist/css/coreui.min.css"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://unpkg.com/@coreui/icons@2.0.0-beta.3/css/all.min.css"
		/>

		<title><%= title %></title>
	</head>
	<body class="c-app">
		<div
			class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show"
			id="sidebar"
		>
			<%- include('partials/sidebar.ejs')%>
		</div>
		<div class="c-wrapper c-fixed-components">
			<header
				class="c-header c-header-dark c-header-fixed c-header-with-subheader"
			>
				<%- include('partials/header.ejs')%>
			</header>
			<div class="c-body">
				<main class="c-main">
					<div class="container-fluid">
						<div class="fade-in">
							<h2><%= title%></h2>
							<div class="card-columns">
								<%if(house_list.length > 0) {%> <% for(const house of
								house_list) { %>

								<div
									class="card bg-light border-dark mb-3"
									style="max-width: 18rem"
								>
									<div class="card-body">
										<h6 class="card-title">Address: <%= house.address%></h6>
										<h6 class="card-text">
											Total apartments: <%= house.total_apartments%>
										</h6>
										<hr />
										<a href="<%= house.url%>/update" class="btn btn-primary"
											>Update</a
										>
										<a href="<%= house.url%>/delete" class="btn btn-danger"
											>Delete</a
										>
									</div>
								</div>

								<% } %>
							</div>
							<%}else{%>
							<p>No houses being created yet.</p>
							<%}%>
						</div>
					</div>
				</main>
			</div>
		</div>
		<!-- Optional JavaScript -->
		<!-- Popper.js first, then CoreUI JS -->
		<script src="https://unpkg.com/@coreui/coreui@3.0/dist/js/coreui.bundle.min.js"></script>
	</body>
</html>

<!-- this is where it changes -->
